```
# Database
*.db

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
node_modules/

# Compiled Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
```